@font-face {
  font-family: "STARWARS";
  src: url("../public/fonts/STARWARS.eot?") format("eot"),
    url("../public/fonts/STARWARS.woff") format("woff"),
    url("../public/fonts/STARWARS.ttf") format("truetype"),
    url("../public/fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal;
}
.test {
  font-family: "STARWARS";
  font-size: 4rem;
}
